[submodule "plugins/rinari"]
	path = plugins/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "plugins/rhtml"]
	path = plugins/rhtml
	url = https://github.com/eschulte/rhtml.git
[submodule "plugins/textmate.el"]
	path = plugins/textmate.el
	url = https://github.com/defunkt/textmate.el.git
[submodule "plugins/twittering-mode"]
	path = plugins/twittering-mode
	url = https://github.com/hayamiz/twittering-mode.git
[submodule "plugins/yari.el"]
	path = plugins/yari.el
	url = https://github.com/hron/yari.el.git
[submodule "plugins/auto-complete"]
	path = plugins/auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule "plugins/rsense"]
	path = plugins/rsense
	url = https://github.com/m2ym/rsense.git
[submodule "plugins/lua-mode"]
	path = plugins/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "plugins/icicles"]
	path = plugins/icicles
	url = https://github.com/emacsmirror/icicles.git
[submodule "plugins/scala-mode"]
	path = plugins/scala-mode
	url = https://github.com/ananthakumaran/scala-mode.git
[submodule "plugins/haml-mode"]
	path = plugins/haml-mode
	url = https://github.com/nex3/haml-mode.git
[submodule "plugins/sass-mode"]
	path = plugins/sass-mode
	url = https://github.com/nex3/sass-mode.git
[submodule "plugins/scss-mode"]
	path = plugins/scss-mode
	url = https://github.com/antonj/scss-mode.git
[submodule "plugins/clojure-mode"]
	path = plugins/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "plugins/coffee-mode"]
	path = plugins/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "plugins/anything-config"]
	path = plugins/anything-config
	url = git://repo.or.cz/anything-config.git
[submodule "plugins/emacs-rails"]
	path = plugins/emacs-rails
	url = https://github.com/remvee/emacs-rails.git
[submodule "plugins/magit"]
	path = plugins/magit
	url = https://github.com/magit/magit.git
[submodule "plugins/minimap"]
	path = plugins/minimap
	url = git://randomsample.de/minimap.git
