[submodule "plugins/auto-complete"]
	path = plugins/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "plugins/lua-mode"]
	path = plugins/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "plugins/icicles"]
	path = plugins/icicles
	url = https://github.com/emacsmirror/icicles.git
[submodule "plugins/haml-mode"]
	path = plugins/haml-mode
	url = https://github.com/nex3/haml-mode.git
[submodule "plugins/sass-mode"]
	path = plugins/sass-mode
	url = https://github.com/nex3/sass-mode.git
[submodule "plugins/scss-mode"]
	path = plugins/scss-mode
	url = https://github.com/antonj/scss-mode.git
[submodule "plugins/clojure-mode"]
	path = plugins/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "plugins/coffee-mode"]
	path = plugins/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "plugins/emacs-rails"]
	path = plugins/emacs-rails
	url = https://github.com/remvee/emacs-rails.git
[submodule "plugins/magit"]
	path = plugins/magit
	url = https://github.com/magit/magit.git
[submodule "plugins/nyan-mode"]
	path = plugins/nyan-mode
	url = https://github.com/TeMPOraL/nyan-mode.git
[submodule "plugins/themes/zenburn-emacs"]
	path = plugins/themes/zenburn-emacs
	url = https://github.com/bbatsov/zenburn-emacs.git
[submodule "plugins/themes/emacs-color-theme-solarized"]
	path = plugins/themes/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "plugins/eproject"]
	path = plugins/eproject
	url = https://github.com/jrockway/eproject.git
[submodule "plugins/flymake-node-jshint"]
	path = plugins/flymake-node-jshint
	url = https://github.com/jegbjerg/flymake-node-jshint.git
[submodule "plugins/liquid-mode"]
	path = plugins/liquid-mode
	url = https://github.com/alesguzik/liquid-mode.git
[submodule "plugins/distel"]
	path = plugins/distel
	url = https://github.com/massemanet/distel.git
[submodule "plugins/supermegadoc"]
	path = plugins/supermegadoc
	url = https://github.com/alk/supermegadoc.git
[submodule "plugins/mirror-mode"]
	path = plugins/mirror-mode
	url = https://github.com/alesguzik/mirror-mode.git
[submodule "plugins/evil-numbers"]
	path = plugins/evil-numbers
	url = git@github.com:cofi/evil-numbers.git
